@model Post
@{
	ViewData["Title"] = "Add";
}
<h1>Add Post</h1>

<form asp-controller="Home" asp-action="Add" method="post" enctype="multipart/form-data">
	<div class="mb-3">
		<label asp-for="Title" class="form-label">Title</label>
		<input asp-for="Title" class="form-control"  placeholder="enter title">
	</div>
@*	<div class="mb-3">
		<label asp-for="ImageUrl" class="form-label">ImageUrl</label>
		<input asp-for="ImageUrl" value="a" type="file" class="form-control"  placeholder="ImageUrl">
	</div>*@

	
<div class="input-group mb-3">
  <input type="file" name="Image" class="form-control" id="inputGroupFile02">
  <label class="input-group-text" for="inputGroupFile02">Upload</label>
</div>
	<div class="mb-3">
		<label asp-for="Content" class="form-label">Content</label>
		<textarea asp-for="Content" rows="10" class="form-control"  placeholder="Content"></textarea>
	</div>
	<input type="submit" value="Add" class="btn btn-primary"/>
</form>




@*<form asp-controller="Home" asp-action="Add" method="post">
	<div class="mb-3">
		<label for="title" class="form-label">Title</label>
		<input type="text" required name="Title" id="title" class="form-control"  placeholder="enter title">
	</div>
	<div class="mb-3">
		<label for="imageUrl" class="form-label">ImageUrl</label>
		<input type="text" name="ImageUrl" id="title" class="form-control"  placeholder="ImageUrl">
	</div>
	<div class="mb-3">
		<label for="content" class="form-label">Content</label>
		<textarea rows="10" required name="Content" type="text" id="title" class="form-control"  placeholder="Content"></textarea>
	</div>
	<input type="submit" value="Add" class="btn btn-primary"/>
</form>*@
@section Scripts{
	<partial name = "_ValidationScriptsPartial"></partial>




  <script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
      toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
    });
  </script>

}
