.box {
    width: 100px;
    height: 100px;
    border: 5px solid black;
    margin: 5px;
    background-color: red;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bx1 {
    background-color: blue;
    ;
}