@{
    ViewData["Title"] = "Add";
}

<h1>Add Post</h1>

<form asp-controller="Home" asp-action="Add" method="post">
    <div class="mb-3">
        <label for="title" class="form-label">Title : </label>
        <input type="text" name="title" id="title"  class="form-control"  placeholder="Enter title">
    </div>
    <div class="mb-3">
        <label for="ImageUrl" class="form-label">ImageUrl : </label>
        <input type="text" name="ImageUrl"  id="ImageUrl"  class="form-control"  placeholder="ImageUrl">
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">Content : </label>
        <textarea rows="10" name="content" type="text" id="content"  class="form-control"  placeholder="Content"></textarea>
    </div>
    <input type="submit" value="Add" class="btn btn-primary"/>
</form>