@using Movies.Models

@{
    ViewData["Title"] = "Search";
}
@model MovieApiResponse


@if (!string.IsNullOrWhiteSpace(@ViewBag.MovieTitle) && !Model.Response.Equals("False"))
{
    <h1>Search results by title: @ViewBag.MovieTitle</h1>




    <div class="container">
        <div class="row">
            @foreach (Movie item in @Model.Search)
            {
                <div class="col-3">
                    <partial name="_MovieCardPartial" model="@item"></partial>
                </div>
            }
        </div>

    </div>



}
else
{
    <h3>No results!</h3>
}
