.box {
    width: 100px;
    height: 100px;
    background-color: red;
    border: 3px solid black;
    position: relative;
    transition: 1s;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

// .box1 {
//     width: 100px;
//     height: 100px;
//     background-color: gray;
//     border: 3px solid black;
// }