@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a target="_blank" href="./resources/myGit.pdf">Download github</a>.</p>
</div>
