<!-- <H1>Hello World!</H1>
<h1>{{title}}</h1>
<h1>{{title.toLocaleUpperCase()}}</h1>
<h1>{{ 2 + 3 == 5}}</h1>
<h1>{{ 2 + 3}}</h1>
<h1>{{1-2-3-4-5+6+7+89}}</h1> -->



<!-- <h1>Hello World</h1>
<h2>{{title}}</h2> -->



<!-- <h1>{{title}}</h1>
  input {{title}} 99999999999 
 <button (click)="onButtonClick()">Button</button>  
<button on-click="onButtonClick()">Button</button> -->
<!-- <button on-click="onButtonClick()">Button</button>

<H1 *ngIf="isAdmin">Hello , admin!</H1>
<H1 *ngIf="!isAdmin">Hello , guest!</H1> -->


<!-- <div [ngSwitch]="currentColor">
    <p *ngSwitchCase="0" style="background-color: red;">Red</p>
    <p *ngSwitchCase="1" style="background-color: green;">Green</p>
    <p *ngSwitchCase="2" style="background-color: blue;">Blue</p>
</div>


-->

<h1>Number {{counts}}</h1>


<ul type="none">
    <li *ngFor="let item of products , let i = index ">{{i+1}}) {{item}}
        <button (click)="onPlusPlus()">Button {{i+1}}</button>
    </li>
</ul>


<!-- <p [title]="helpText">Attribute binding</p> -->
<!-- <p [attr.title]="helpText">Attribute binding</p> -->



<!-- <p class="red-text">Welcome to my website</p>
<p class="{{isAdmin ? 'red-text' : ''}}">Class binding</p>
<p [class.red-text]="isAdmin">Class binding</p>

<p [style.background-color]="isAdmin ? 'green' : 'blue'">Style binding background</p>
<p [style.font-size]="size +'px'">Style binding font size</p>
<p [style.font-size.px]="size">Style binding font size</p> -->




<p [ngClass]="classes">NQ Class</p>
<p [ngStyle]="styles">NQ Class</p>


<!-- {{}} , [] , () ,  [()]  -->
<!--  on  , bind bindon -->