// h1 {
//     color: red;
// }
// * {
//     font-size: 40px;
// }
.red-text {
    color: red;
    font-size: 40px;
}

.underline-text {
    text-decoration: underline;
}

.consolas {
    font-family: Consolas;
}