<!-- <h1>Todo List</h1>
<input type="text" [(ngModel)]="text" (keydown.enter)="addTask()" required>
 (blur)="addTask()"

<ol>
    <li *ngFor="let item of list">{{item}}</li>
</ol> -->



<h1>Todo List</h1>
<form (submit)="addTask()">
    <button type="button" class="btn btn-primary" (click)="clearTasks()">🧺</button>
    <input type="text" name="text" [(ngModel)]="text">
    <button>Add</button>
</form>

<ol>
    <li *ngFor="let item of list">
        <button (click)="removeTask(item.id)">❌</button> {{item.title}} <span style="color: red;">{{item.id}}</span></li>
</ol>
