@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>

@if (@ViewBag.ErrorId == 500)
{
    <p class="text-danger">Status 500</p>
}else @if (@ViewBag.ErrorId == 404)
{
    <p class="text-danger">Page not Found</p>
}else
{
    <p class="text-danger">Somthing else</p>
}

<h1>@ViewBag.ErrorId</h1>